attrs==20.3.0
blinker==1.4
certifi==2024.2.2
charset-normalizer==3.3.2
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
DevFetch @ file:///home/lmaotrix/workspace/dev-search-automation
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.21.2
httplib2==0.20.2
idna==3.7
importlib-metadata==4.6.4
jeepney==0.7.1
jellyfish==0.11.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lib50==3.0.11
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==8.10.0
netifaces==0.11.0
nh3==0.2.17
oauthlib==3.2.0
packaging==24.0
pexpect==4.9.0
pkginfo==1.11.1
ptyprocess==0.7.0
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu3
PyYAML==5.4.1
readme_renderer==43.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
SecretStorage==3.3.1
six==1.16.0
submit50==3.1.4
systemd-python==234
termcolor==1.1.0
twine==5.1.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.1
wadllib==1.3.6
zipp==1.0.0
